*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../imagenes/fondo\ formulario.jpg);
    background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
}
.relleno, input{
    padding: 15px;
   font-family: sans-serif;
}
form{
    border: 2px solid whithe;
    backdrop-filter: blur(10px);
    width: 45%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 2rem;
    border-radius: 5px;
}

fieldset{
    display: flex;
    flex-direction: column;
    
}
input{
    font-size: 2rem ;
    }