*{
    margin: 0;
    padding: 0;
}
.fondoformulario{
    background-image: url(../imagenes/fondo\ formulario.jpg);
    background-size: cover;
}
.relleno, input{
     color: white;
     padding: 15px;
   font-family: sans-serif;
   border-radius: 15px;
   border-color: white;
  
}
form{
    color: white;
    border: 2px solid whithe;
    backdrop-filter: blur(30px);
    width: 45%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 2rem;
    border-radius: 20px;
   
}

fieldset{
    display: flex;
    flex-direction: column;
    
}
input{
    font-size: 2rem ;
    }