* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 10vh;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style: none;
}

.list-items {
  position: relative;
  display: block;
  padding: 7px 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 8px;
  font-weight: bold;
  transition: 1s;
}

.list-items:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  opacity: 0;
  transform: scaleY(2);
  transition: 1s;
  border-top: 2px solid rgb(17, 220, 37);
  border-bottom: 2px solid rgb(17, 220, 37);;
}

.list-items:hover:before {
  transform: scaleY(1.2);
  opacity: 1;
}

.list-items:after {
  content: "";
  background: rgb(17, 220, 37);;
  position: absolute;
  top: 2;
  left: 0;
  width: 10%;
  height: 10%;
  transition: 1s;
  transform: scale(0);
  z-index: -1;
}

.list-items:hover:after {
  transform: scale(1);
}

.list-items:hover {
  color: #fff;
}


nav a{
    display: inline-block;
    text-decoration: none;      
  color: black;              
  font-weight: bold;          
  font-size: 8px;   
}
nav a{
    display: inline-block;
    text-decoration: none;      
  color: black;              
  font-weight: bold;          
  font-size: 8px;   
}
.titulo{
    text-align: center;
    font-size: 80px;
}
.parrafos1{
    font-size: 15px;
}