main {
  background-image: url("../imagenes/fondo home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin-top: 60px;


}


main h2{
    font-size: 10px;
}

.tituloserie{
    margin: 5%;
    width: 40%;
}
main p{
    text-align: center;
    color: white;
font-size: 15px;
    font-family: sans-serif;
}
