main h2{
    font-size: 10px;
}
.homeimagen{
    text-align: right;
    margin: 5%;
    width: 40%;
}


.tituloserie{
    margin: 5%;
    width: 40%;
}
main p{
    text-align: center;
    color: white;
font-size: 15px;
    font-family: sans-serif;
}
